<h2 class="title mb-4 has-text-centered">Subscribe for news, events, opportunities and much more!</h2>
<form action="https://formspree.io/f/xdkkawdl" method="POST" class="box" >
    <label class="label">Your Email</label>
    <div class="field has-addons">
        <div class="control is-expanded">
            <input class="input is-medium" type="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="control">
            <button class="button is-medium is-primary">Submit</button>
        </div>
    </div>
</form>

<h2 class="title mb-4 mt-5 has-text-centered">Get in touch!</h2>

<form action="https://formspree.io/f/xdkkawdl" method="POST" class="box">

  <div class="field">
    <label class="label">Your Email</label>
    <div class="control">
      <input class="input" type="email" name="email" placeholder="Enter your email" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Your Message</label>
    <div class="control">
      <textarea class="textarea" name="message" placeholder="Write your message" required></textarea>
    </div>
  </div>

  <div class="field mt-4">
    <div class="control">
      <button class="button is-primary" type="submit">Send</button>
    </div>
  </div>
</form>
